{% include 'header.html' %}
<h1 align ="center">Welcome To vehicle Parking Management</h1>
<div class="container" style="margin-left: 300px;">
    <div>
        <div class="card-header" style="margin-right: 900px;">
            Today Entry
            <div>
                {{tv}}
            </div>
        </div>
    </div>
    <div>
        <div class="card-header" style="margin-right: 900px;">
            Yesterday Entry
            <div>
                {{yv}}
            </div>
        </div>
    </div>
    <div>
        <div class="card-header" style="margin-right: 900px;">
             Last 7
            <div>
                {{ls}}
            </div>
        </div>
    </div>
    <div>
        <div class="card-header" style="margin-right: 900px;">
            Total Entry
            <div>
                {{todayv}}
            </div>
        </div>
    </div>
</div>