{% include 'header.html' %}
<div class="container col-xl-7 mt-5">
      <table class="table table-hover">
    <thead>
      <tr>
        <th>Sr No.</th>
        <th>Category Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    {% for category in  category %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{category.categoryname}}</td>
        <td><a href="{% url 'deletecategory' category.id %}" title="Delete Category"><i class="fas fa-trash-alt"></i>Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>