{% include 'header.html' %}
<div class="container col-xl-7 mt-5">
    <table class="table table-hover">
        <tr>
            <th>Parking number</th>
            <td>{{ve.parkingnumber}}</td>
        </tr>
        <tr>
            <th>Owner Name</th>
            <td>{{ve.ownername}}</td>
        </tr>
        <tr>
            <th>Owner Contact</th>
            <td>{{ve.ownercontact}}</td>
        </tr>
        <tr>
            <th>Vehicle Compony Name</th>
            <td>{{ve.vehicalcompony}}</td>
        </tr>
        <tr>
            <th>Vehicle Category</th>
            <td>{{ve.category}}</td>
        </tr>
        <tr>
            <th>In Time</th>
            <td>{{ve.intime}}</td>
        </tr>
        <tr>
            <th>Vehicle Status</th>
            <td>{{ve.status}}</td>
        </tr>
        <tr>
            <th>Vehicle Parking Date</th>
            <td>{{ve.pdate}}</td>
        </tr>
        <tr>
            <th>Vehicle Out Time</th>
            <td>{{ve.outtime}}</td>
        </tr>
        <tr>
            <th>Vehicle Parking Charge</th>
            <td>{{ve.parkingcharge}}</td>
        </tr>
    </table>
</div>